<html>

<head>
    <meta charset="utf-8">
    <title>Successfully Authorised!</title>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <hgroup>
        <img src="https://lichess1.org/assets/favicon.svg" alt="lichess.org" class="logo" />
        <h1>Authorized lazy-lila!</h1>
    </hgroup>
    <form>
        <button type="submit" name="authorize" class="button">code here</button>
    </form>
    <footer>
        Seeing an issue you don't think should be there?<br><a
            href="https://github.com/theLAZYmd/lazy-lila/issues">Report it here</a>
    </footer>
</body>

</html>